import React from "react";
import "./blog.css"
import { Link, useParams } from 'react-router-dom';
import { useState } from 'react';

export const Blog = ({articles, titles}) => {
     const [title] = useState('');
    const [author] = useState('');
    const [body] = useState('');
    const { id } = useParams();
  return (
  <div>
      
      {/* blog starts */}
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
      <div class="text-center mb-5">
        <h5 class="text-primary h6">Our Blog</h5>
        <h2 class="display-20 display-md-18 display-lg-16">Most recent our blog</h2>
    </div>
      {articles.map((article) => (
<section className="pos" key={article.id}>
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-6 mb-2-6">
            <article class="card card-style2">
                <div class="card-img">
                    <img class="rounded-top" src="./assets/children.jpeg" alt="..." height="280px" width = "350px"/>
                    <div class="date"><span>15</span>Sep</div>
                </div>
                <div class="card-body">
                    <h3 class="h5"><a href="#!">{article.title} </a></h3>
                    <p class="display-30 ">{article.body} </p>
                    <a href="#!" class="read-more">read more</a>
                </div>
                
                <div class="card-footer">
                    <ul>
                        <li><a href="#!"><i class="fas fa-user"></i>Brittany Hucks</a></li>
                        <li><a href="#!"><i class="far fa-comment-dots"></i><span>26</span></a></li>
                    </ul>
                </div>
            </article>
           
        </div>
       
       
        
       
        
    </div>
</div>
</section>
  ))}
{/* blog ends */}
  </div>
  );
};
